{% extends 'admin_index.html' %}
{% block body %}
<body>
	<marquee>welcome admin home</marquee>
<!-- 	<a href="view_user">users</a>
	<a href="manage_staff">manage_staff</a>
	<a href="manage_category">Category</a>
	<a href="manage_service">Manage Service</a>
	<a href="manage_vehicles">Manage Vehicles</a>
	<a href="new_connection_request">Connection Request</a>
	<a href="view_booking">Bookings</a>
	<a href="view_service_booking">Service Bookings</a>
	<a href="view_service_report">Service Report</a>
	<a href="view_complaints">Complaints</a>
	<a href="view_booking_report">Booking Report</a> -->

</body>
{% endblock %}